<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Koa Server Render</title>
    <style type="text/css">
      <%- css %>
    </style>
</head>
<body>
  <%- reactContent %>
</body>
</html>
